.burger-button {
	display: none;

	&--showed {
		@include clear-button;
		display: block;

		img {
			top: 20px;
			right: 10px;
			width: 16px;
			height: 11px;

			@media (min-width: 768px) {
				display: none;
			}
		}
	}
}