.main-nav {
    $mn: '.main-nav';

    &__container {
        display: flex;
        align-items: center;
        padding-top: 15px;
        justify-content: space-between;
        
        @media (min-width: 768px) {
            padding-top: 28px;
        }
        @media (min-width: 1728px) {
            padding-top: 77px;
        }
    }
    &__contacts {
        display: none;
        margin-top: auto;

        @media (max-width: 767px) {
            display: block;
        }

        img {
            display: block;
            width: 22px;
            height: 16px;
        }
        p {
            margin-top: 0;
            margin-bottom: 15px;
            text-align: end;
            color: rgba(0, 0, 0, 0.75);
        }
        a {
            display: block;
            padding: 10px;
        }

    }

    &__social {
        @include clear-list;
        
        display: flex;
        justify-content: end;
        
    }
    &__logo {
        img {
            display: block;
            width: 74px;
            height: 25px;
            @media (min-width: 768px) {
                width: 94px;
                height: 32px;
            }
        }
    }
    &__list {
        @include clear-list;
        color: #000000;

        @media (max-width: 767px) {
            position: absolute;
            right: 0;
            top: 75px;
            text-align: end;
            width: 100%;
            padding-top: 76px;
        }
        
        @media (min-width: 768px) {
            display: flex;
        }
        @media (min-width: 1728px) {
            display: flex;
        }
    }
    &__menu {
		display: flex;
		margin-left: auto;
		z-index: 4;
		@media (max-width: 768px) {
			display: none;

			&--showed {
				@media (max-width: 767px) {
					display: flex;
					flex-direction: column;
					padding: 15px 10px 20px 20px;
					position: fixed;
					top: 0;
					right: 0;
					z-index: 100;
					width: 50%;
					height: 100vh;
					background-color: #EBEBEB;
					box-shadow: 0 47px 40px 0 rgba(0, 0, 0, 0.07);
			
					#{$mn}__button--close {
						display: block;
					}
			
				}
				
			}
		}
    }
    &__item {
        
        @media (max-width: 767px) {
            text-align: right;
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
        }
    
        @media (min-width: 768px) {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }
        @media (min-width: 1728px) {
            font-size: 24px;
            line-height: 37px;
            font-weight: 400;
        }
    
        a {
            display: block;
    
            @media (max-width: 767px) {
                background-color: #F6F6F6;
                border-top: 1px solid #d9d9d9;
                border-bottom: 1px solid #d9d9d9;
                padding: 13px;
            }

            @media (min-width: 768px) {
                padding: 15px 12px;
            }

            @media (min-width: 1728px) {
                padding: 18px;
            }
            
        }
    }
    &__buttons {
        display: flex;
        gap: 25px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 101;
		margin-left: auto;
		margin-right: 25px;

        &--showed {
            position: fixed;
            top: 17px;
            right: 25px;
            z-index: 101;
            
        }

        @media (min-width: 768px) {
            gap: 44px;
        }
    }
    &__button {
        @include clear-button;
        position: relative;

        img {
            width: 20px;
            height: 18px;

            @media (min-width: 768px) {
                width: 29px;
                height: 27px;
            }
        }
        &--close {
            @include clear-button;

            display: none;
            position: absolute;
            top: 17px;
            right: 17px;
            height: 12px;
            width: 12px;
        }
    }
    &__pin {
        display: flex;
        justify-content: center;
        position: absolute;
        right: -6px;
        top: -4px;
        min-width: 12px;
        padding: 0 2px;
        font-size: 7px;
        height: 12px;
        border-radius: 12px;
        align-items: center;
        background-color: #d9d9d9;

        @media (min-width: 768px) {
            top: -6px;
            right: -9px;
            min-width: 18px;
            height: 18px;
            font-size: 11px;
            line-height: 18px;
            border-radius: 18px;
        }
    }
}