.main-nav {
	#{mn}: ".main-nav";
	background-color: #fff;
	z-index:100;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		@media(min-width: 767px) {
			padding-top: 28px;
		}
		@media (min-width: 1728px) {
			padding-top: 77px;
		}
	}
	&__contacts {
		display: none;
		margin-top: auto;
	}

	&__logo {
		display: block;
	}
	&__list {
		@include clear-list;

		display: flex;
		padding-top: 10px;

		@media (max-width: 767px) {
			display: none;
		}		
	}
	&__menu {
		display: none;
		&--showed {
			display: block;
		}
	}
	&__close {
		@include clear-button;

		display: none;
		position: absolute;
		top: 24px;
		right: 10px;
		height: 12px;
		width: 12px;

	}
	&__item {
		text-transform: uppercase;
		font-weight: 400;
		line-height: 24px;
		color: #000;
		font-size: 16px;
		a {
			padding: 10px 13px;
			
			@media(min-width: 1728px) {
				padding: 10px 18px;
			}
		}
		@media (max-width: 1728px) {
			line-height: 36px;
			font-size: 24px;
			align-items: center;
			margin-left: auto;
		}
	}
	&__buttons {
		display: flex;
		gap: 25px;

		@media (max-width: 767px) {
			gap: 44px;
		}
	}
	&__button {
		@include clear-button;
	}
	.main-nav__burger {
		@media (min-width: 767px) {
			display: none;
		}	
	}
}