.product {
    $bl: &;

    width: 300px;
    padding: 0 19px;
    padding-top: 38px;
    padding-bottom: 23px;
    border: 2px solid #DEDEDE;
    border-radius: 25px;
    border-color: #DEDEDE;
    color: #000;
    margin-bottom: 25px;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }
    @media (max-width: 768px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (min-width: 768px) {
        width: 344px;
        padding: 0 30px;
        padding-top: 38px;
        padding-bottom: 22px;
        margin-bottom: 0;
    }

    @media (min-width: 1728px) {
        width: 488px;
        padding: 0 40px;
        padding-top: 26px;
        padding-bottom: 25px;
    }
    &--big {
        width: 100%;
        padding: 60px 51px 52px;
        border: 2px solid #DEDEDE;
        border-radius: 25px;
        color: #000;
        position: relative;

        @media (max-width: 768px) {
            padding: 38px 19px 23px;
        }

        #{$bl}__image {
            display: block;
            margin: 0 78px;
            width: 470px;
            height: 470px;

            @media (max-width: 768px) {
                width: 212px;
                height: 212px;
                position: static;
                margin: 0 25px;
            }
        }

        #{$bl}__title {
            text-align: center;
            font-size: 64px;
            margin: 0;
            margin-top: -30px;
            margin-bottom: 41px;

            @media (max-width: 768px) {
                font-size: 24px;
                text-align: left;

            }
        }

        #{$bl}__price {
            &--new {
                font-size: 48px;
                margin-right: 68px;
                @media (max-width: 768px) {
                    font-size: 24px;
                    margin-right: 20px;
                }
            }

            &--old {
                text-decoration: line-through;
                font-size: 24px;

                @media (max-width: 768px){
                    font-size: 18px;
                }
            }
        }

        #{$bl}__circle {
            width: 65px;
            height: 65px;
            background-color: #000;
            border-radius: 50%;
            position: absolute;
            bottom: 53px;
            right: 40px;

            @media (max-width: 768px) {
                width: 38px;
                height: 38px;
                right: 20px;
                bottom: 25px;
            }
        }

        #{$bl}__arrow {
            width: 24px;
            height: 24px;
            position: absolute;
            bottom: 73px;
            right: 60px;

            @media (max-width: 768px) {
                width: 14px;
                height: 14px;
                bottom: 37px;
                right: 32px;
            }
        }

        @media (min-width: 1728px) {
            width: 100%;
            padding: 0 80px;
            padding-top: 98px;
            padding-bottom: 23px;
            grid-column: span 2;
            grid-row: span 2;

            #{$bl}__image {
                display: block;
                margin: 0 60px;
                width: 762px;
                height: 762px;
            }

            #{$bl}__title {
                text-align: start;
                font-size: 64px;
                margin-top: -40px;
                margin-bottom: 21px;
            }

            #{$bl}__price {

                &--new {
                    margin-right: 44px;
                }
            }

            #{$bl}__circle {
                width: 118px;
                height: 118px;
                bottom: 68px;
                right: 82px;
            }

            #{$bl}__arrow {
                width: 43px;
                height: 43px;
                position: absolute;
                bottom: 105px;
                right: 120px;
            }
        }
    }
    &__image {
        margin: 0 25px;
        width: 212px;
        height: 212px;

        @media (min-width: 768px) {
            margin: 0 34px;
        }

        @media (min-width: 1728px) {
            margin: 0 18px;
            width: 373px;
            height: 373px;
        }
    }

    &__title {
        font-size: 24px;
        margin: 0;
        margin-bottom: 22px;

        @media (min-width: 1728px) {
            margin-bottom: 21px;
        }
    }

    &__price {
        &--new {
            font-size: 24px;
            margin-right: 20px;

            @media (min-width: 1728px) {
                margin-right: 28px;
            }
        }

        &--old {
            text-decoration: line-through;
            font-size: 18px;
        }
    }

    &__circle {
        width: 38px;
        height: 38px;
        background-color: #000;
        border-radius: 50%;
        position: absolute;
        bottom: 25px;
        right: 20px;

        @media (min-width: 1728px) {
            width: 58px;
            height: 58px;
            bottom: 40px;
            right: 40px;
        }
    }

    &__arrow {
        width: 14px;
        height: 14px;
        position: absolute;
        bottom: 37px;
        right: 32px;

        @media (min-width: 1728px) {
            width: 21px;
            height: 21px;
            bottom: 58px;
            right: 59px;
        }
    }
    &--new {
        &::after {
            background-image: url('../img/new-icon.svg');
            content: 'New';
            color: white;
            top: 51px;
            left: -10px;
            font-size: 18px;
            line-height: 36px;
            position: absolute;
            width: 60px;
            height: 32px;
            font-weight: 500;
            text-align: left;
            padding: 2px 15px;
        }
    }
    
    &--hot {
        &::after {
            background-image: url('../img/hot-icon.svg');
            content: "Hot!";
            width: 154px;
            height: 59px;
            color: #fff;
            font-size: 36px;
            line-height: 60px;
            position: absolute;
            font-weight: 500;
            left: -10px;
            top: 51px;
            background-size: cover;
            text-align: left;
            padding: 3px 30px;


            @media (max-width: 768px) {
                width:59px;
                height:32px;
                background-size: cover;
                font-size: 18px;
                line-height: 25px;
                text-align: left;
                padding: 3px 8px;
                margin-left: 6px;
            }
        }
    }

    &__label {
        &::after {
            width: 120px;
            height: 65px;
            content: '';
            color: #fff;
            font-size: 18px;
            line-height: 35px;
            text-align: center;
            position: absolute;
            font-size: 36px;
            line-height: 60px;
            font-weight: 500;
            text-align: center;
            left: -10px;
            top: 51px;
        }        
    }
}
    
    
